<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="p-3">
    <h4>Login User</h4>
    <form action="#" th:action="@{/login}" th:object="${user}" method="post" class="col-sm-6">
        <div class="form-group">
            <label for="emailInput">Email:</label>
            <input type="email" class="form-control" id="emailInput" th:field="*{email}"/>
            <b th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</b>
        </div>
        <div class="form-group">
            <label for="passwordInput">Password:</label>
            <input type="password" class="form-control" id="passwordInput" th:field="*{password}"/>
            <b th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</b>
        </div>
        <p>
            <input type="submit" class="btn btn-success" value="Submit"/>
        </p>
    </form>
    <footer>
        <p>
            <small>© 2019 / Author: E.Jänne</small>
        </p>
    </footer>
</div>
</body>
</html>